.top {
  width: 100%;
  height: 1.9rem;
  position: relative;
}

.top img {
  width: 100%;
  height: 100%;
}

.top h3 {
  height: 0.2rem;
  font-size: 0.14rem;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: white;
  line-height: 0.2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.1rem;
}

.more {
  margin-top: 0.1rem;
  padding: 0.1rem 0;
  background-color: #fff;
  width: 100%;
  height: 0.23rem;
  text-align: center;
  font-size: 0.12rem;
  color: #999999;
  line-height: 0.23rem;
}
header {
  padding: .49rem 0 .13rem;
  border-bottom: 0.005rem solid #eee;
  background: url(../images/htxq_header_bg.png) no-repeat left top;
  background-size: 100% 0.81rem;
  position:fixed;
  width:100%;
  z-index:999;
}

header .head-left {
  position:absolute;
  left:0.12rem;
  background: url("../images/back.png") no-repeat left top;
  background-size: 0.16rem 0.16rem;
  display: block;
  width: .16rem;
  height: .16rem;
}

header .head-center {
  font-size: .18rem;
  color: #fff;
  font-family: SourceHanSansCN, SourceHanSansCN-Regular;
  text-align:center;
  font-weight: 400;
}
.newThings{
 padding-top:0.8rem;
}
