header {
  display: flex;
  padding: .49rem 0 .13rem;
  justify-content: space-between;
  border-bottom: 0.005rem solid #eee;
  background: url(../images/htxq_header_bg.png) no-repeat left top;
  background-size: 100% 0.81rem;
  position:fixed;
  width:100%;
  z-index:999;
}

header .head-left {
  margin-left: .12rem;
  background: url("../images/back.png") no-repeat left top;
  background-size: 0.16rem 0.16rem;
  display: block;
  width: .16rem;
  height: .16rem;
}

header .head-center {
  font-size: .18rem;
  color: #fff;
  font-family: SourceHanSansCN, SourceHanSansCN-Regular;
  font-weight: 400;
}

header .head-right {
  font-size: .15rem;
  color: #fff;
  font-family: PingFangSC, PingFangSC-Regular;
  font-weight: 400;
  margin-right: 0.12rem;
}
.tipics{
  padding-top:0.8rem;
}
.tipics .right li {
  margin: 0 0.12rem;
  padding: 0.12rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.tipics .right li .left_pic {
  display: flex;
  justify-content: space-between;
}

.tipics .right li .left_pic .pic {
  width: 0.57rem;
  height: 0.57rem;
}

.tipics .right li .left_pic .pic img {
  width: 100%;
  height: 100%;
  border-radius: 0.03rem;
}

.tipics .right li .left_pic .text {
  margin-left: 0.12rem;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  margin-top: 0.07rem;
}

.tipics .right li .left_pic .text h3 {
  font-size: 0.15rem;
  color: #222;
  font-weight: 400;
  line-height: 0.21rem;
  margin-bottom: 0.05rem;
}

.tipics .right li .left_pic .text p {
  font-size: 0.11rem;
  color: #b9b9b9;
  line-height: 0.16rem;
}

.tipics .right li .follow {
  width: 0.56rem;
  height: 0.26rem;
  margin-top: 0.15rem;
}

.tipics .right li .follow img {
  width: 100%;
  height: 100%;
}
