<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="assets/swiper.min.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="./assets/change_resize.js"></script>
    <title>文旅</title>
    <style>
        .update {
            /* height: 0; */
            display: none;
        }
    </style>

</head>

<body>
    <div id="app" v-cloak v-show='flag'>
        <!-- <div class="update" >下拉刷新</div> -->
        <!-- topView -->
        <div class="topView">
            <a class="left" @click="goTipics()">+话题</a>
            <div class="center">文旅</div>
            <div class="right" @click="goPost()"><img src="./images/photoBai.png" alt="" width="20"></div>
        </div>
        <!-- 轮播图 已完成-->
        <div class="swiper-container" ref="swiperContainer">
            <div class="swiper-wrapper pics">
                <div class="swiper-slide" v-for="(item,index1) in LunboList" :key="index1" @click='goDetail(index1,item.id)' >
		 <img :src="item.index_pics[0]?`${item.index_pics[0].host}${item.index_pics[0].dir}750x380/${item.index_pics[0].filepath}${item.index_pics[0].filename}`:''" alt="">
                    <span>{{item.brief}}</span>
                </div>
            </div>
            <div class="swiper-pagination swiper-pagination-bullets">
                <span class="swiper-pagination-bullet" v-for="(item,index1) in LunboList" :key="index1"></span>
            </div>
        </div>
        <!-- 字体图标  已完成（5个位置 有四个图标）parent_forum=板块的ID-->
        <div class="tab-box">
            <ul class="tab">
                <li v-for='(item,index) in iconList' :key="index" :class="iconList.length >= 5 ? 'tabMore' : ''">
                    <a v-if="item.id==2529" :href="'zj.html'">
                        <div class="font">
                            <img v-lazy="item.indexpic.host?`${item.indexpic.host}${item.indexpic.dir}${item.indexpic.filepath}${item.indexpic.filename}`:'./images/food.png'" alt="">
                        </div>
                        <p>{{item.title}}</p>
                    </a>
                    <a v-else :href="'food.html?history=1&id='+item.id+'&title='+item.title">
                        <div class="font">
                            <img v-lazy="item.indexpic.host?`${item.indexpic.host}${item.indexpic.dir}${item.indexpic.filepath}${item.indexpic.filename}`:'./images/food.png'" alt="">
                        </div>
                        <p>{{item.title}}</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="gray"></div>
        <!-- 话题推荐  已完成-->
        <div class="city-topics">
            <div class="tipics">
                <img class="left" src="./images/city.png" alt="">
                <span>话题推荐</span>
                <a :href='"tipics_all.html"'><img class="right" src="./images/rightB.png" alt=""></a>
            </div>
            <div class="swiper2">
                <div class="swiper-wrapper swiper_city">
                   <!-- <a class="swiper-slide" :style="'background:url('+item.indexpic.host+item.indexpic.dir+item.indexpic.filepath+item.indexpic.filename+') #999;'+ 'background-size:1.35rem 0.835rem'" v-for='item in cityTipicList' :href="'food.html?history=1&id='+item.id+'&title='+item.title">-->
	           <a :href='"htxq_list.html?id="+item.id' class="swiper-slide" :style="'background:url('+item.indexpic.host+item.indexpic.dir+item.indexpic.filepath+item.indexpic.filename+') #999;'+ 'background-size:1.35rem 0.835rem'" v-for='item in cityTipicList'>
                        <h3>#{{item.title}}#</h3>
                        <p>{{item.cares_num}}人参与</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- 热帖推荐  已完成-->
        <div class="city-topics">
            <div class="tipics">
                <img class="left" src="./images/hot.png" alt="">
                <span>热帖推荐</span>
                <a :href='"hotTipics.html"'><img class="right" src="./images/rightB.png" alt=""></a>
            </div>
            <div class="swiper-wrapper swiper3">
                <a class="swiper-slide" v-for="(item,index) in hotData" :key="index" :href='"travel_detail.html?id="+item.id'>
                    <div class="imgHeight">
                        <img v-lazy="item.indexpic.host
                        +item.indexpic.dir+item.indexpic.filepath+item.indexpic.filename" alt="">
                    </div>
                    <h3>{{item.brief.substring(0,20)}}</h3>
                    <div class="user">
                        <!-- <img src="./images/pretemit.png" alt="" v-if="item.user_info.avatar"> -->
                        <img v-lazy="`${item.user_info.avatar.host}${item.user_info.avatar.filename}`" alt="" v-if="item.user_info.avatar.host">
                        <img src="./images/pretemit.png" alt="" v-else>
                        <span>{{item.user_info.user_name}}</span>
                    </div>
                </a>
            </div>
        </div>
        <!-- 新鲜事 -->
        <div class="gray"></div>
        <div class="newThings">
            <!-- tab切换 -->
            <ul class="title">
                <li class="top" v-for="(tab,index) in tabsName">
                    <span class="tab-link" @click="tabsSwitch(index)" v-bind:class="{active:tab.active}">{{tab.name}}
                        <div class="line" v-if='tab.active'>
                            <img src="./images/line3.png" alt="">
                        </div>
                    </span>
                </li>
            </ul>
            <div class="cards">
                <!-- 最新动态 -->
                <div class="tab-card" style="display: block;">
                    <div v-for='(item,index) in CityDataList' :key="index">
                        <a :href='"travel_detail.html?id="+item.id'>
                            <!-- <div class="gray"></div> -->
                            <div class="news">
                                <div class="user">
                                    <div class="left">
                                        <img :src="item.user_info.avatar==false?'./images/pretemit.png':`${item.user_info.avatar.host}${item.user_info.avatar.filename}`" alt="">
                                        <div class="name">
                                            <p>{{item.user_info.user_name}}</p>
                                            <span>{{item.create_time | getTimeData}}</span>
                                        </div>
                                    </div>
                                    <!-- 已做是否关注判断 -->
                                    <div class="follow">
                                        <div class="followed" v-if='item.user_care' @click.stop="deleteFollowed(index,item.user_id)" :data_id="item.user_id">
                                            <img src="./images/followed.png" alt="">
                                        </div>
                                        <div class="add_follow" v-else @click.stop="getFollowed(index,item.user_id)" :data_id="item.user_id">
                                            <img src="./images/follow.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    {{item.title}}
                                </div>

                                <!-- 三张或更多 -->
                                <div class="pic" v-if="item.pics_num>=3">
                                    <ul>
                                        <li>
                                            <img v-lazy="item.pics[0]?`${item.pics[0].host}${item.pics[0].dir}${item.pics[0].filepath}${item.pics[0].filename}`:''" alt="">
                                        </li>
                                        <li>
                                            <img v-lazy="item.pics[1]?`${item.pics[1].host}${item.pics[1].dir}${item.pics[1].filepath}${item.pics[1].filename}`:''" alt="">
                                        </li>
                                        <li>
                                            <img v-lazy="item.pics[2]?`${item.pics[2].host}${item.pics[2].dir}${item.pics[2].filepath}${item.pics[2].filename}`:''" alt="">
                                            <div class="group" v-if="item.pics_num>3">
                                                <img src="./images/group2.png" alt="">
                                                <span>{{item.pics_num}}</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- 一张-->
                                <div class="pic" v-if="item.pics_num==1">
                                    <div class="color">
                                        <div class="one_pic">
                                            <img v-lazy="item.pics[0]?`${item.pics[0].host}${item.pics[0].dir}${item.pics[0].filepath}${item.pics[0].filename}`:''" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="address" v-if='item.address'>
                                    <img src="./images/address.png" alt="">
                                    <span>{{item.address}}</span>
                                </div>
                                <!-- 两张 -->
                                <div class="pic" v-if="item.pics_num==2">
                                    <div class="two_pic">
                                        <ul>
                                            <li style="margin-right: 0.05rem;">
                                                <img v-lazy="item.pics[0]?`${item.pics[0].host}${item.pics[0].dir}${item.pics[0].filepath}${item.pics[0].filename}`:''" alt="" alt="">
                                            </li>
                                            <li>
                                                <img v-lazy="item.pics[1]?`${item.pics[1].host}${item.pics[1].dir}${item.pics[1].filepath}${item.pics[1].filename}`:''" alt="" alt="">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- 视频 -->
                                <div class="pic" v-if="item.is_have_video!=0&&item.video.mtype">
                                    <div class="video">
                                        <video ref='videoBox' x5-playsinline="true" webkit-playsinline="true" playsinline="true" :src="`${item.video.host}${item.video.dir}${item.video.filename}.${item.video.mtype}`" controls :poster="item.indexpic?`${item.indexpic.host}${item.indexpic.dir}${item.indexpic.filepath}${item.indexpic.filename}`:'./images/logo.png'"></video>
                                        <!-- <div class="btn">
                                                <img src="./images/play.png" alt="">
                                                <span>1:36</span>
                                        </div> -->
                                    </div>
                                </div>
                                <!-- 音频 -->
                                <div class="pic" v-if='item.is_have_video!=0&&item.video.is_audio==1'>
                                    <div class="audio">
                                        <audio :src="`${item.video.host}${item.video.dir}${item.video.filepath}${item.video.filename}`" ref="audio"></audio>
                                        <div class="btn" @click.stop='playVideo'>
                                            <img src="./images/audio2.png" alt="">
                                            <div class="wifi">
                                                <img src="./images/yinpin3.gif" alt="" v-if='audioFlag'></img>
                                                <img src='./images/wifi.png' alt='' v-else></img>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 文字 -->
                                <div class="picText" v-if="item.multi_radio==0&item.pics_num==0&item.is_have_video==0">

                                </div>

                                <!-- 点赞人头像 -->
                                <div class="people" v-show="item.praise_num!=0" @click.stop="getAllPeople(index,item.id)">
                                    <div class="avatar">
                                        <div class="avatar_img" v-for='(itemUser,index1) in item.praise_userinfo' style="overflow:hidden;">
                                            <img src="./images/pretemit.png" alt="" :key="index1" v-if='!itemUser.avatar || !itemUser.avatar.host'>
                                            <img :src="`${itemUser.avatar.host}${itemUser.avatar.dir}${itemUser.avatar.filepath}${itemUser.avatar.filename}`" v-if='itemUser.avatar && itemUser.avatar.host'>
                                        </div>
                                    </div>
                                    <div class="good">
                                        <span>{{item.praise_num}}赞</span>
                                        <img src="./images/right.png" alt="">
                                    </div>
                                </div>
                                <!-- 是否有点赞数？ -->
                                <div class="last">
                                    <ul>
                                        <li @click="deleteDianzan(index,item.id)" :data_id="item.id" v-if='item.is_praise'>
                                            <img src="./images/dianzanOrange.png" alt="">
                                            <span class="text">点赞</span>
                                        </li>
                                        <li @click.stop="dianzan(index,item.id)" :data_id="item.id" v-else>
                                            <img src="./images/dianzan.png" alt="">
                                            <span class="text">点赞</span>
                                        </li>
                                        <li @click.stop='shareAll(index,item.id)'>
                                            <img src="./images/share.png" alt="">
                                            <span class="text">分享</span>
                                        </li>
                                        <li @click.stop='getComment(index,item.id)'>
                                            <img src="./images/comment.png" alt="">
                                            <span class="text">评论</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="gray"></div>
                        </a>

                    </div>
                    <!-- 评论后的反馈 -->
                    <div class="tips" v-if='showTips'>
                        <span>{{tipMessage}}</span>
                    </div>
                    <!-- <div class="more" @click="getmore" v-if='flagMore'>
                        加载更多
                    </div> -->
                </div>
                <!-- end 最新动态 -->
                <!-- 我的动态 -->
                <div class="tab-card">
                    <div v-if="!FriendsDataList.length==0">
                        <div v-for='(item,index) in FriendsDataList' :key="index">
                            <a :href='"travel_detail.html?id="+item.id'>
                                <!-- <div class="gray"></div> -->
                                <div class="news">
                                    <div class="user">
                                        <div class="left">
                                            <img :src="item.user_info.avatar==false?'./images/pretemit.png':`${item.user_info.avatar.host}${item.user_info.avatar.filename}`" alt="">
                                            <div class="name">
                                                <p>{{item.user_info.user_name}}</p>
                                                <span>{{item.create_time | getTimeData}}</span>
                                            </div>
                                        </div>
                                        <!-- 已做是否关注判断 -->
                                        <!-- <div class="follow">
                                            <div class="followed" @click.stop="deleteFollowed(index,item.user_id)"
                                                :data_id="item.user_id">
                                                <img src="./images/followed.png" alt="">
                                            </div>
                                            <div class="add_follow" v-else @click.stop="getFollowed(index,item.user_id)"
                                                :data_id="item.user_id">
                                                <img src="./images/follow.png" alt="">
                                            </div>
                                        </div> -->
                                    </div>
                                    <div class="content">
                                        {{item.title}}
                                    </div>

                                    <!-- 三张或更多 -->
                                    <div class="pic" v-if="item.pics_num>=3">
                                        <ul>
                                            <li>
                                                <img v-lazy="item.pics[0]?`${item.pics[0].host}${item.pics[0].dir}${item.pics[0].filepath}${item.pics[0].filename}`:''" alt="">
                                            </li>
                                            <li>
                                                <img v-lazy="item.pics[1]?`${item.pics[1].host}${item.pics[1].dir}${item.pics[1].filepath}${item.pics[1].filename}`:''" alt="">
                                            </li>
                                            <li>
                                                <img v-lazy="item.pics[2]?`${item.pics[2].host}${item.pics[2].dir}${item.pics[2].filepath}${item.pics[2].filename}`:''" alt="">
                                                <div class="group" v-if="item.pics_num>3">
                                                    <img src="./images/group2.png" alt="">
                                                    <span>{{item.pics_num}}</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- 一张-->
                                    <div class="pic" v-if="item.pics_num==1">
                                        <div class="color">
                                            <div class="one_pic">
                                                <img v-lazy="item.pics[0]?`${item.pics[0].host}${item.pics[0].dir}${item.pics[0].filepath}${item.pics[0].filename}`:''" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="address" v-if='item.address'>
                                        <img src="./images/address.png" alt="">
                                        <span>{{item.address}}</span>
                                    </div>
                                    <!-- 两张 -->
                                    <div class="pic" v-if="item.pics_num==2">
                                        <div class="two_pic">
                                            <ul>
                                                <li style="margin-right: 0.05rem;">
                                                    <img v-lazy="item.pics[0]?`${item.pics[0].host}${item.pics[0].dir}${item.pics[0].filepath}${item.pics[0].filename}`:''" alt="" alt="">
                                                </li>
                                                <li>
                                                    <img v-lazy="item.pics[1]?`${item.pics[1].host}${item.pics[1].dir}${item.pics[1].filepath}${item.pics[1].filename}`:''" alt="" alt="">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- 视频 -->
                                    <div class="pic" v-if="item.is_have_video!=0&&item.video.mtype">
                                        <div class="video">
                                            <video x5-playsinline="true" webkit-playsinline="true" playsinline="true" class='aaa' :src="`${item.video.host}${item.video.dir}${item.video.filename}.${item.video.mtype}`" controls :poster="item.indexpic?`${item.indexpic.host}${item.indexpic.dir}${item.indexpic.filepath}${item.indexpic.filename}`:''"></video>
                                            <!-- <div class="btn">
                                                    <img src="./images/play.png" alt="">
                                                    <span>1:36</span>
                                            </div> -->
                                        </div>
                                    </div>
                                    <!-- 音频 -->
                                    <div class="pic" v-if='item.is_have_video!=0&&item.video.is_audio==1'>
                                        <div class="audio">
                                            <audio :src="`${item.video.host}${item.video.dir}${item.video.filepath}${item.video.filename}`" ref="audio"></audio>
                                            <div class="btn" @click.stop='playVideo'>
                                                <img src="./images/audio2.png" alt="">
                                                <div class="wifi">
                                                    <img src="./images/yinpin3.gif" alt="" v-if='audioFlag'></img>
                                                    <img src='./images/wifi.png' alt='' v-else></img>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 文字 -->
                                    <div class="picText" v-if="item.multi_radio==0&item.pics_num==0&item.is_have_video==0">

                                    </div>

                                    <!-- 点赞人头像 -->
                                    <!-- <div class="people" v-show="item.praise_num!=0" @click.stop="getAllPeople(index,item.id)">
                                        <div class="avatar">
                                            <div class="avatar_img" v-for='(itemUser,index1) in item.praise_userinfo' style="overflow:hidden;">
                                                <img src="./images/pretemit.png" alt="" :key="index1" v-if='!itemUser.avatar || !itemUser.avatar.host'>
                                                <img :src="`${itemUser.avatar.host}${itemUser.avatar.dir}${itemUser.avatar.filepath}${itemUser.avatar.filename}`"
                                                    v-if='itemUser.avatar && itemUser.avatar.host'>
                                            </div>
                                        </div>
                                        <div class="good">
                                            <span>{{item.praise_num}}赞</span>
                                            <img src="./images/right.png" alt="">
                                        </div>
                                    </div> -->
                                    <!-- 是否有点赞数？ -->
                                    <div class="last">
                                        <ul>
                                            <!-- <li @click="deleteDianzan(index,item.id)" :data_id="item.id" v-if='item.is_praise'>
                                                <img src="./images/dianzanOrange.png" alt="">
                                            </li>
                                            <li @click.stop="dianzan(index,item.id)" :data_id="item.id" v-else>
                                                <img src="./images/dianzan.png" alt="">
                                                <span class="text" v-else>点赞</span>
                                            </li> -->

                                            <li @click.stop='shareAll(index,item.id)'>
                                                <img src="./images/share.png" alt="">
                                                <!-- <span class="text">分享</span> -->
                                            </li>
                                            <li @click.stop='getComment(index,item.id)'>
                                                <img src="./images/comment.png" alt="">
                                                <!-- <span class="text">评论</span> -->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="gray"></div>
                            </a>

                        </div>
                    </div>
                    <div class="null" v-else>
                        <div class="gray"></div>
                        <div class="img_height">
                            <img src="./images/null.jpg" alt="">
                        </div>
                        <p>这里什么都没有</p>
                    </div>
                    <!-- 评论后的反馈 -->
                    <div class="tips" v-if='showTips'>
                        <span>{{tipMessage}}</span>
                    </div>

                </div>
                <!-- end 我的动态 -->
            </div>
        </div>
        <!-- 评论框 -->
        <div class="dialog_comment" v-if="show">
            <div class="dialog_box">
                <div class="dialog_header">
                    <span @click="showCont">取消</span>
                    <span>写评论</span>
                    <span @click="sendComment()" ref="sendBtn">发送</span>
                </div>
                <div class="dialog_content">
                    <i></i>
                    <textarea name="" style="resize: none;" v-model='content' ref="textareaBox" @input='changeColor'></textarea>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="./assets/vue.js"></script>
<script src="./assets/swiper.js"></script>
<script src="./assets/axios.min.js"></script>
<script src="./assets/zepto.min.js"></script>
<script src="./assets/sdk.js"></script>
<script src="./assets/vconsole.min.js"></script>
<script src="./assets/common.js"></script>
<script src="./js/index.js"></script>
<script src="./assets/vue-lazyload.js"></script>
<script>
    Vue.use(VueLazyload)
    Vue.use(VueLazyload, {
        preLoad: 1.3,
        error: './images/default.png',
        // loading: 'dist/loading.gif',
        attempt: 1
    });

    window.onload = function() {
        window.addEventListener('touchstart', touchstart, false);
        window.addEventListener('touchmove', touchMove, false);
        // window.addEventListener('touchend', touchend, false);
    }
    var update = document.getElementsByClassName('update')[0];
    var _start = 0;
    var _end = 0;

    function touchstart(event) {
        var touch = event.targetTouches[0];
        _start = touch.pageY;
    }

    function touchMove(event) {
        var touch = event.targetTouches[0];
        _end = (touch.pageY - _start);
        // if(_end>0){

        //     update.style.height = _end+'px';
        //     update.style.display = 'block';
        // }
        //下滑才执行操作 
        if (_end > 100) {
            // update.style.display = 'none';
            location.reload();
        }
    }
    // function touchend(event){
    //     update.style.display = 'none';
    // }
</script>

</html>
