<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>选择感兴趣的话题</title>
    <script src="./assets/change_resize.js"></script>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="./css/tipics.css">

</head>

<body>
    <div id="app" v-cloak>
        <header>
            <a class="head-left" @click="goBack()"></a>
            <h3 class="head-center">选择感兴趣的话题</h3>
            <a class="head-right" @click="goMyFollow()">我的</a>
        </header>
        <div class="tipics">
            <div class="left">
                <div>
                    <a :class="{active:curIndex == index}" v-for="(item,index) in sortsList" :key="index" :data-id="item.id" @click="getSecondData(index,item.id)">{{item.title}}</a>
                </div>
            </div>
            <div class="right">
                <ul>
                    <li v-for="(item,index) in cityTipicList" :key="index">
                        <a class="left_pic" @click="goHtxqList(item.id)">
                            <div class="pic">
                                <img :src="item.indexpic.host?`${item.indexpic.host}${item.indexpic.dir}${item.indexpic.filepath}${item.indexpic.filename}`:'./images/food.png'" alt="">
                            </div>
                            <div class="text">
                                <h3>#{{item.title}}#</h3>
                                <p>{{item.cares_num}}人参与</p>
                            </div>
                        </a>
                        <div class="follow">
                            <img src="./images/subscribed.png" alt="" v-if="item.is_care" @click.stop="deleteFollowed(index,item.id)" :data_id="item.id">
                            <img src="./images/subscribe.png" alt="" v-else @click.stop="getFollowed(index,item.id)" :data_id="item.id">
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <script src="./assets/axios.min.js"></script>
    <script src="./assets/vue.js"></script>
    <script src="./assets/vconsole.min.js"></script>
    <script src="./assets/zepto.min.js"></script>
    <script src="./assets/sdk.js"></script>
    <script src="./assets/common.js"></script>
    <script src="./js/tipics.js"></script>
</body>

</html>
